.row-padding {
  padding: 20px;
  margin: 0px;
}

#navigation-container {
  background-color: #733C71;
}

#about-container {
  background-color: #FFFFFF;
}

#portfolio-container {
  background-color: #F0F0F0;
}

#contact-container {
  background-color: #FFFFFF;
}

#copyright-container {
  background-color: #0091AD;
}

#nav-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

#nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.container-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: black;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 10px;
}

#about-img {
  height: 150px;
  width: 150px;
  border: solid 7px #F0F0F0;
}

#about-description {
  font: #000000;
}

#project-container {
  padding: 10px;
}

#project-img {
  border-bottom: solid 1px #F0F0F0;
}

#project-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #000000;
  margin: 0;
}

.project-description {
  color: black;
}

#project-links {
  background-color: #455E89; 
  padding: 10px;
}

#links {
  font-weight:500;
  color: #FFFFFF;
  margin: 0 10px;
}

/* #links:hover {
  color: #0091AD;
} */


.btn-link {
  background-color: #5C4D7D;
  margin: 5px;
}

.btn-contact {
  background-color: #2E6F95; 
  margin: 5px;
}

/* for medium screens */
@media only screen and (min-width: 600px) {

}


/* for large screens */
@media only screen and (min-width: 992px) {

}