.row-padding {
  padding: 10px;
  margin: 0px;
}

#navigation-container {
  background-color: #733C71;
}

#about-container {
  background-color: #F4F2F7;
}

#portfolio-container {
  background-color: #f8f9fa;
}

#links-container {
  background-color: #F4F2F7;
}

#contact-container {
  background-color: #f8f9fa;
}

#copyright-container {
  background-color: #0091AD;
}



#nav-title {
  font-size: 1.25rem;
}

.container-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: black;
}

.project-container {
  background-color: #5C4D7D;
  padding: 15px;
}

.project-title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.25rem;
  color: white;
}

.project-description {
  color: black;
}

.btn-link {
  background-color: #455E89; 
  margin: 5px;
}

.btn-contact {
  background-color: #2e6f95; 
  margin: 5px;
}



