

.nav-font {
  font-family: 'Roboto Slab', serif;
}

.row-padding {
  padding: 20px;
  margin: 0px;
}

header,
nav {
  background-color: #892b64;
}

main {
  background-color: #5C4D7D;
}

#contact-me {
  background-color: #2E6F95;
}

#nav-title,
#project-title,
#footer-title {
  font-family: 'Roboto Slab', serif;
}

